<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Sipariş Özet
</div>
<div class="p-4">
  <p class="font-italic mb-4">
    ödeme sırasında yapılan seçimlere bağlı olarak nakliye masrafları
    eklenecektir
  </p>
  <ul class="list-unstyled mb-4" *ngIf="basketTotal$ | async as totals">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Sipariş Ara Toplam</strong>
      <strong>{{ totals.subtotal | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Nakliye</strong>
      <strong>{{ totals.shipping | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Toplam</strong>
      <strong>{{ totals.total | currency }}</strong>
    </li>
  </ul>
</div>
